In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re


df = pd.read_excel("21d.xlsx")

ages = df.iloc[3:88,1]
income_classes = [ df.iloc[88+85*n, 0] for n in range(26) ]

MAIN_DF = WOMEN_DF = MEN_DF = MEDIAN_DF = MEDIAN_DF_W = MEDIAN_DF_M = pd.DataFrame( columns = income_classes, index = ages )
MAIN_DF.index.name = WOMEN_DF.index.name = MEN_DF.index.name = None
MEDIAN_DF.index.name = MEDIAN_DF_W.index.name = MEDIAN_DF_M.index.name = None


# #######################################################################
# ##############################  Main DF  ##############################
# #######################################################################

for (i,data) in enumerate(MAIN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 8 ]
    MAIN_DF[data] = col.values

MAIN_DF = MAIN_DF.replace("..", 0)
MAIN_DF.loc['Summa'] = MAIN_DF.sum(axis = 0)
MAIN_DF['Totala'] = MAIN_DF.sum(axis=1)


# #######################################################################
# #######################  Men & Women income DF  #######################
# #######################################################################

for (i,data) in enumerate(MEN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 4 ]
    MEN_DF[data] = col.values

MEN_DF = MEN_DF.replace("..", 0)
MEN_DF.loc['Summa'] = MEN_DF.sum(axis = 0)
MEN_DF['Totala'] = MEN_DF.sum(axis=1)



for (i,data) in enumerate(WOMEN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 6 ]
    WOMEN_DF[data] = col.values

WOMEN_DF = WOMEN_DF.replace("..", 0)
WOMEN_DF.loc['Summa'] = WOMEN_DF.sum(axis = 0)
WOMEN_DF['Totala'] = WOMEN_DF.sum(axis=1)


# #######################################################################
# ########################  Median DF M, W & All ########################
# #######################################################################

for (i,data) in enumerate(MEDIAN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 7 ]
    MEDIAN_DF[data] = col.values

MEDIAN_DF = MEDIAN_DF.replace("..", 0)



for (i,data) in enumerate(MEDIAN_DF_M):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 3 ]
    MEDIAN_DF_M[data] = col.values

MEDIAN_DF_M = MEDIAN_DF_M.replace("..", 0)



for (i,data) in enumerate(MEDIAN_DF_W):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 5 ]
    MEDIAN_DF_W[data] = col.values

MEDIAN_DF_W = MEDIAN_DF_W.replace("..", 0)

In [5]:
from sqlite3 import connect

conn = connect("incomes_DB.db")

curr = conn.cursor()

curr.execute('CREATE TABLE IF NOT EXISTS median_w ( Namn TEXT) ')

conn.commit()

MEDIAN_DF_W.to_sql('median_w', conn, if_exists='replace')

85

In [12]:
col_names = ['0', '1-19 tkr', '20-39 tkr', '40-59 tkr', '60-79 tkr', '80-99 tkr', '100-119 tkr', '120-139 tkr', '140-159 tkr', '160-179 tkr', '180-199 tkr', '200-219 tkr', '220-239 tkr', '240-259 tkr', '260-279 tkr', '280-299 tkr', '300-319 tkr', '320-339 tkr', '340-359 tkr', '360-379 tkr', '380-399 tkr', '400-499 tkr', '500-599 tkr', '600-799 tkr', '800-999 tkr', '1000+ tkr', 'Totala']
row_names = ['16 år', '17 år', '18 år', '19 år', '20 år', '21 år', '22 år', '23 år', '24 år', '25 år', '26 år', '27 år', '28 år', '29 år', '30 år', '31 år', '32 år', '33 år', '34 år', '35 år', '36 år', '37 år', '38 år', '39 år', '40 år', '41 år', '42 år', '43 år', '44 år', '45 år', '46 år', '47 år', '48 år', '49 år', '50 år', '51 år', '52 år', '53 år', '54 år', '55 år', '56 år', '57 år', '58 år', '59 år', '60 år', '61 år', '62 år', '63 år', '64 år', '65 år', '66 år', '67 år', '68 år', '69 år', '70 år', '71 år', '72 år', '73 år', '74 år', '75 år', '76 år', '77 år', '78 år', '79 år', '80 år', '81 år', '82 år', '83 år', '84 år', '85 år', '86 år', '87 år', '88 år', '89 år', '90 år', '91 år', '92 år', '93 år', '94 år', '95 år', '96 år', '97 år', '98 år', '99 år', '100+ år', 'Summa']

print(row_names)

['16 år', '17 år', '18 år', '19 år', '20 år', '21 år', '22 år', '23 år', '24 år', '25 år', '26 år', '27 år', '28 år', '29 år', '30 år', '31 år', '32 år', '33 år', '34 år', '35 år', '36 år', '37 år', '38 år', '39 år', '40 år', '41 år', '42 år', '43 år', '44 år', '45 år', '46 år', '47 år', '48 år', '49 år', '50 år', '51 år', '52 år', '53 år', '54 år', '55 år', '56 år', '57 år', '58 år', '59 år', '60 år', '61 år', '62 år', '63 år', '64 år', '65 år', '66 år', '67 år', '68 år', '69 år', '70 år', '71 år', '72 år', '73 år', '74 år', '75 år', '76 år', '77 år', '78 år', '79 år', '80 år', '81 år', '82 år', '83 år', '84 år', '85 år', '86 år', '87 år', '88 år', '89 år', '90 år', '91 år', '92 år', '93 år', '94 år', '95 år', '96 år', '97 år', '98 år', '99 år', '100+ år', 'Summa']

In [4]:
import sqlite3
import pandas as pd


cnx = sqlite3.connect('incomes_DB.db')

MAIN_DF = pd.read_sql_query("SELECT * FROM incomes", cnx).set_index(['index'])


MAIN_DF

,0,1-19 tkr,20-39 tkr,40-59 tkr,60-79 tkr,80-99 tkr,100-119 tkr,120-139 tkr,140-159 tkr,160-179 tkr,...,320-339 tkr,340-359 tkr,360-379 tkr,380-399 tkr,400-499 tkr,500-599 tkr,600-799 tkr,800-999 tkr,1000+ tkr,Totala
index,,,,,,,,,,,,,,,,,,,,,
16 år,61382,47298,6395,1475,438,173,102,59,39,22,...,0,0,0,0,0,0,0,0,0,117427
17 år,40982,54661,14172,4280,1589,615,350,198,114,52,...,6,0,0,0,0,0,0,0,0,117210
18 år,29862,39921,20969,12069,6059,2883,1558,861,496,306,...,22,0,10,0,18,16,4,0,0,115687
19 år,17975,15791,11609,13735,10247,9349,8743,7744,5957,4179,...,190,141,90,66,142,44,19,4,0,113131
20 år,14584,0,7364,7835,6545,5782,7091,5407,5420,4945,...,2089,1428,1126,761,1599,322,67,0,0,101289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97 år,34,0,0,0,0,37,401,537,541,402,...,69,52,23,29,69,21,22,5,0,3797
98 år,18,0,0,0,0,18,333,385,350,285,...,38,18,24,16,43,18,16,5,4,2624
99 år,17,0,0,0,0,12,222,233,235,204,...,30,15,12,9,22,11,6,0,0,1713
100+ år,31,0,0,0,0,28,422,445,331,259,...,31,15,22,20,39,14,18,0,0,2634
Summa,467619,261664,155087,145938,115142,125386,204993,274293,259915,298065,...,309311,317213,313306,297195,1176759,686937,508082,156461,146257,8372779

In [18]:
income_classes = [c for c in MAIN_DF.iloc[:, :-1]]
print(income_classes)

['0', '1-19 tkr', '20-39 tkr', '40-59 tkr', '60-79 tkr', '80-99 tkr', '100-119 tkr', '120-139 tkr', '140-159 tkr', '160-179 tkr', '180-199 tkr', '200-219 tkr', '220-239 tkr', '240-259 tkr', '260-279 tkr', '280-299 tkr', '300-319 tkr', '320-339 tkr', '340-359 tkr', '360-379 tkr', '380-399 tkr', '400-499 tkr', '500-599 tkr', '600-799 tkr', '800-999 tkr', '1000+ tkr']

In [6]:
def income_class(monthly_income):

    yearly_income = monthly_income * 12

    if monthly_income == 0: income_interval = "0"
        
    elif monthly_income > 83: income_interval = "1000+ tkr"

    else:
        for col in MAIN_DF.iloc[:, 1:-2]:
            income_range = col[:-4].split("-")

            if int(income_range[0]) <= yearly_income <= int(income_range[1]):
                income_interval = f"{income_range[0]}-{income_range[1]} tkr"
                break

    return MAIN_DF.columns.get_loc(income_interval) #return income class index
   

income_class(83)

24

In [34]:
def stats(age, class_index, sex):

#    class_index = 8
    age -=16

#Class
    same_class = MAIN_DF.iloc[-1, class_index] #alla som tjänar som dig
    earn_less = MAIN_DF.iloc[-1, :class_index].sum()
    earn_more = MAIN_DF.iloc[-1, -1] - earn_less - same_class #alla som tjänar mer än dig och mer
    top_of_class = (earn_more + same_class)/MAIN_DF.iloc[-1, -1]*100

#Age
    same_age = MAIN_DF.iloc[age, class_index] 
    earn_less_age = MAIN_DF.iloc[age, :class_index].sum()
    earn_more_age = MAIN_DF.iloc[age, -1] - earn_less_age - same_age
    top_of_age = (earn_more_age + same_age)/MAIN_DF.iloc[age, -1]*100

#Men
    earn_same_men = MEN_DF.iloc[age, class_index] 
    men_earn_less = MEN_DF.iloc[age, :class_index].sum()
    men_earn_more = MEN_DF.iloc[age, -1] - men_earn_less - earn_same_men
    top_of_men = (men_earn_more + earn_same_men)/MEN_DF.iloc[-1, -1]*100

#Women
    earn_same_women = WOMEN_DF.iloc[age, class_index] 
    women_earn_less = WOMEN_DF.iloc[age, :class_index].sum() 
    women_earn_more = WOMEN_DF.iloc[age, -1] - women_earn_less - earn_same_women
    top_of_women = (women_earn_more + earn_same_women)/WOMEN_DF.iloc[-1, -1]*100
 

#Median
    same_median = MAIN_DF.iloc[-1, class_index] #median inkomst din klass


#Women median
    same_women_median = MEDIAN_DF_W.iloc[age, class_index] 


#Men median
    earn_same_men_median = MEDIAN_DF_M.iloc[age, class_index] 

    if sex == 'm':
        return f'{men_earn_less} earn less, {earn_same_men} earn same, {men_earn_more} earn more, {top_of_men}, {earn_same_men_median}'

    elif sex == 'w':
        return women_earn_less, earn_same_women, women_earn_more, top_of_women, same_women_median

stats(41, 20, 'm')

'25190 earn less, 2994 earn same, 38183 earn more, 0.9835624657830043, 389.8'

In [32]:
MEN_DF.iloc[25, :-1]

0               2816
1-19 tkr         653
20-39 tkr        532
40-59 tkr        531
60-79 tkr        392
80-99 tkr        365
100-119 tkr      535
120-139 tkr     1357
140-159 tkr      659
160-179 tkr      669
180-199 tkr      883
200-219 tkr      917
220-239 tkr     1046
240-259 tkr     1167
260-279 tkr     1317
280-299 tkr     1626
300-319 tkr     1992
320-339 tkr     2290
340-359 tkr     2679
360-379 tkr     2764
380-399 tkr     2994
400-499 tkr    13686
500-599 tkr    10365
600-799 tkr     8804
800-999 tkr     2722
1000+ tkr       2606
Name: 41 år, dtype: object

In [19]:
MEN_DF

,0,1-19 tkr,20-39 tkr,40-59 tkr,60-79 tkr,80-99 tkr,100-119 tkr,120-139 tkr,140-159 tkr,160-179 tkr,...,320-339 tkr,340-359 tkr,360-379 tkr,380-399 tkr,400-499 tkr,500-599 tkr,600-799 tkr,800-999 tkr,1000+ tkr,Totala
16 år,33557,22774,2797,709,236,107,50,34,19,11,...,0,0,0,0,0,0,0,0,0,60312
17 år,23674,27297,6263,1776,704,312,186,123,62,37,...,0,0,0,0,0,5,0,0,0,60555
18 år,17694,20891,9835,5240,2591,1286,720,423,261,185,...,15,12,6,0,12,10,0,0,0,59506
19 år,11062,8606,5851,6704,4603,4111,4057,3798,3060,2164,...,131,95,63,52,99,35,10,0,0,58650
20 år,8879,4901,3740,3721,3166,2836,3467,2581,2570,2273,...,1334,947,777,567,1233,258,52,8,0,57630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97 år,14,0,0,0,0,14,30,33,51,56,...,26,20,11,14,41,11,13,0,0,849
98 år,6,0,0,0,0,6,23,25,26,44,...,17,8,13,9,26,6,9,0,0,602
99 år,0,0,0,0,0,4,19,10,14,32,...,14,5,7,0,8,5,0,0,0,348
100+ år,6,0,0,0,0,4,20,14,26,38,...,10,4,5,6,14,6,7,0,0,427
Summa,252852,130860,64351,61236,48792,50358,78270,99461,78086,92016,...,145068,154682,159260,156968,674490,425512,338273,107904,107872,4186516

In [2]:
import streamlit as st
cnx = st.experimental_connection('incomes_db', type='sql')


cnx

ModuleNotFoundError: No module named 'streamlit'