In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re


df = pd.read_excel("21d.xlsx")

ages = df.iloc[3:88,1]
income_classes = [ df.iloc[88+85*n, 0] for n in range(26) ]

MAIN_DF = WOMEN_DF = MEN_DF = MEDIAN_DF = MEDIAN_DF_W = MEDIAN_DF_M = pd.DataFrame( columns = income_classes, index = ages )
MAIN_DF.index.name = WOMEN_DF.index.name = MEN_DF.index.name = None
MEDIAN_DF.index.name = MEDIAN_DF_W.index.name = MEDIAN_DF_M.index.name = None


# #######################################################################
# ##############################  Main DF  ##############################
# #######################################################################

for (i,data) in enumerate(MAIN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 8 ]
    MAIN_DF[data] = col.values

MAIN_DF = MAIN_DF.replace("..", 0)
MAIN_DF.loc['Summa'] = MAIN_DF.sum(axis = 0)
MAIN_DF['Totala'] = MAIN_DF.sum(axis=1)


# #######################################################################
# #######################  Men & Women income DF  #######################
# #######################################################################

for (i,data) in enumerate(MEN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 4 ]
    MEN_DF[data] = col.values

MEN_DF = MEN_DF.replace("..", 0)
MEN_DF.loc['Summa'] = MEN_DF.sum(axis = 0)
MEN_DF['Totala'] = MEN_DF.sum(axis=1)



for (i,data) in enumerate(WOMEN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 6 ]
    WOMEN_DF[data] = col.values

WOMEN_DF = WOMEN_DF.replace("..", 0)
WOMEN_DF.loc['Summa'] = WOMEN_DF.sum(axis = 0)
WOMEN_DF['Totala'] = WOMEN_DF.sum(axis=1)


# #######################################################################
# ########################  Median DF M, W & All ########################
# #######################################################################

for (i,data) in enumerate(MEDIAN_DF):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 7 ]
    MEDIAN_DF[data] = col.values

MEDIAN_DF = MEDIAN_DF.replace("..", 0)



for (i,data) in enumerate(MEDIAN_DF_M):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 3 ]
    MEDIAN_DF_M[data] = col.values

MEDIAN_DF_M = MEDIAN_DF_M.replace("..", 0)



for (i,data) in enumerate(MEDIAN_DF_W):

    col = df.iloc[ 88 + 85 * i:173 + 85 * i, 5 ]
    MEDIAN_DF_W[data] = col.values

MEDIAN_DF_W = MEDIAN_DF_W.replace("..", 0)

In [5]:
from sqlite3 import connect

conn = connect("incomes_DB.db")

curr = conn.cursor()

curr.execute('CREATE TABLE IF NOT EXISTS median_w ( Namn TEXT) ')

conn.commit()

MEDIAN_DF_W.to_sql('median_w', conn, if_exists='replace')

85

0 NUMBER,
1-19 tkr NUMBER,
20-39 tkr NUMBER,
40-59 tkr NUMBER,
60-79 tkr NUMBER,
80-99 tkr NUMBER,
100-119 tkr NUMBER,
120-139 tkr NUMBER,
140-159 tkr NUMBER,
160-179 tkr NUMBER,
180-199 tkr NUMBER,
200-219 tkr NUMBER,
220-239 tkr NUMBER,
240-259 tkr NUMBER,
260-279 tkr NUMBER,
280-299 tkr NUMBER,
300-319 tkr NUMBER,
320-339 tkr NUMBER,
340-359 tkr NUMBER,
360-379 tkr NUMBER,
380-399 tkr NUMBER,
400-499 tkr NUMBER,
500-599 tkr NUMBER,
600-799 tkr NUMBER,
800-999 tkr NUMBER,
1000+ tkr NUMBER,